@font-face{font-family:comicsans; src:url('assets/fonts/comicsans.ttf');}
*{
    font-family:comicsans;
    margin:0 auto;
    text-align:center;
}
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
canvas {
    display: block;
}

/*nicotext*/
.nicotext{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f0f8ff80;
    color: #000000;
    font-size: 20px;
    transition: right 2.0s linear;
    white-space: nowrap;
    pointer-events: none;
}

.draggable{
    position: fixed;
    cursor: move;
}

#UI{
    position: fixed;
    left: 120px;
    top: 70px;
}
#UI .nameSend{
    display: none;
    flex-direction: column;
    gap: 0;
    width: 240px;
    height: 100px;
    padding: 5px;
    background-color: #f0f8ff;
}
#UI .nameSend .input, #UI .nameSend .button{
    display: block;
    width: 100%;
    border: 2px solid #cfe9ff;
    background-color: #def0ff;
}